{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sadegh Mehdizadeh</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'css/icons-mind.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/flexslider.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'css/theme.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'css/color_pink.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/switch_style.css' %}" rel="stylesheet" type="text/css">
</head>

<body id="page-top">

    <link id="switch-style" href="" rel="stylesheet" type="text/css">


    <section id="home" class="home-bg-static bg-cover bg-gray-dark bg-overlay-black-5 w-100">
        <div class="container h-100">
            <div class="row align-items-center h-100 justify-content-center">
                <div class="col-lg-9 text-center">
                    <h2
                        class="font-alt font-w-600 letter-spacing-2 m-0 mt-3 opacity-9-5 text-uppercase text-white title-sm-extra-large-2 title-extra-large-4">
                        I'm Sadegh Mehdizadeh!</h2>
                    <span
                        class="d-block font-alt mt-2 opacity-9-5 text-white title-sm-extra-large title-extra-large-3">Creative
                        Developer</span>
                    <span class="d-block font-alt mb-2 mt-2 opacity-9-5 text-white text-extra-large">37 years young,
                        husband and father, pet lover, coding addict..</span>

                </div>

            </div>

        </div>

    </section>


    <nav id="navigation" class="navbar navbar-dark navbar-expand-lg bg-dark">
        <div class="container">
            <div class="navbar-header d-lg-none">
                <a class="navbar-brand page-scroll" href="#page-top">BERG</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-berg"
                    aria-controls="navbar-berg" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse justify-content-center" id="navbar-berg">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{% url 'webpage:index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{% url 'webpage:profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{% url 'webpage:projects' %}">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{% url 'webpage:education' %}">education</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{% url 'webpage:languages' %}">languages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{% url 'webpage:skills' %}">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{% url 'webpage:contact' %}">Contact</a>
                    </li>
                </ul>
            </div>

        </div>

    </nav>
    {% block content%}
    {% endblock %}


    <footer class="bg-gray-dark">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col text-center">

                    <p class="m-0 mt-4 text-gray text-medium">&copy; 2022 Sadegh Mehdizadeh. All rights reserved.</p>
                </div>

            </div>

        </div>

    </footer>


    <a href="#page-top" class="page-scroll scroll-to-top bg-base-color"><i class="fa fa-angle-up"></i></a>

    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/pace.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/jquery.matchHeight.min.js' %}"></script>
    <script src="{% static 'js/jquery.inview.min.js' %}"></script>
    <script src="{% static 'js/jquery.countTo.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.flexslider.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>

    <script src="{% static 'js/theme.js' %}"></script>
    <script src="{% static 'js/switch_style.js' %}"></script>
</body>

</html>